#background_geese
  #store_box
    #store
      #store_sidebar
        %h4#store_top Shop 
        %ul.nav.nav-tabs.nav-stacked#sidebar_pills
          %li.active
            = link_to "T-shirts"
          %li
            = link_to "Hats"
          %li
            = link_to "Patches"
      #t_shirt
        %ul.nav.nav-tabs.nav-justified
          %li.active
            = link_to "Men's"
          %li
            = link_to "Women's"
        #mens_shirt
          .shirt_image
            = image_tag("mensshirt.jpg")
        #womens_shirt