.section.my_queue.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h2 My Queue
        = bootstrap_form_tag url: '/update_shopping_cart' do |f|
          %table.table
            %thead
              %tr
                %th(width="20%") Description
                %th(width="20%") Size
                %th(width="20%") Quantity
                %th(width="15%") Item Price
                %th(width="15%") Total Price
            %tbody
              - @shopping_cart_items.each do |shopping_cart_item|
                %tr
                  %td
                    = shopping_cart_item.product_name
                  %td
                    = shopping_cart_item.size
                  %td
                    = number_field_tag "shopping_cart_items[][quantity]", shopping_cart_item.quantity, in: 1..99
                  %td
                    = shopping_cart_item.item_price
                  %td
                    = shopping_cart_item.total_price
                  %td
                    = link_to shopping_cart_item, method: :delete do
                      %i.glyphicon.glyphicon-remove
                  = f.hidden_field "shopping_cart_items[][id]", value: shopping_cart_item.id
                  = f.hidden_field "shopping_cart_items[][size]", value: shopping_cart_item.size
          = f.submit "Update", class: 'btn btn-default', data: { update: true}     
          = f.submit "Checkout", class: "btn btn-default"
